

h1,h2,h3,h4,h5{
  font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
  color: black;
}
p,
p:hover:after,
p:focus,
p:hover{
  font-family: 'Covered By Your Grace';
  color: black;
  text-decoration: none;
  font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
a{
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.container{
  margin: 0 auto;
}

html{
  height: 100%;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  color: #fff;
  text-align: center;
  background-color: inherit;
}
.header{
}
.nav{
  text-align: center;
  margin-top: -10px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #085c07;
  border-bottom: 2px solid #085c07;

}
.nav li{
  display: inline-block;
  padding: 15px;
  margin-top: -15px;
  font-size: 14px;
  font-weight: bold;
}
.nav li a, .footer_nav li a{
    color:  #f0feed;
}
.footer_nav li a{
  color:  black;
}
.nav li a:hover, .footer_nav li a:hover{
  color: #085c07;
  text-shadow: 0 1px 0 rgba(0, 255, 230, 0.4);
  background-color: inherit;
  text-decoration: none;
}
#logo{
  text-align: center;
  padding: 5px;
}
#logo img{
  max-width: 350px;
}
.info img{
  margin-top: 15px;
  margin-bottom: -25px;
  padding: 5px;
  height: 300px;
  width: 33.33%;
  max-width: 750px;
}
#about{
  margin-top: 175px;
}
#about img{
  float: left;
  max-width: 250px;
  border-radius: 100%;
  border: 4px solid #84ae83;
}

#projects{
  margin-top: 200px;
}
.project{
  border: 4px solid #84ae83;
  border-radius: ;
  margin-top: 25px;
  max-width: 24%;
  padding: 5px;
  height: 250px;
}
#footer{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  border-top: 2px solid #085c07;
}
.footer_nav{
  margin-top: 20px;
}
.footer_nav li{
  display: inline;
  color: snow;
  padding: 15px;
}
.footer_nav li a{
  color: snow;

}
#footer img{
  padding: 10px;
  max-width: 150px;
}
#footer p{
  color: snow;
  margin-top: -15px;
  text-align: right;
  font-size: 14px;
  font: cursive;
}
#footer a{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.info{
  display: inline;
}
.info img{
  float: left;
  padding: 5px;
  max-width: 50%;
}
.btn-xlarge-bold{
  margin-top: 50px;
  padding: 10px 40px;
  font-size: 26px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  border-radius: 0px;
  border: 1px solid #5d747a;
  background-color: #b1ddf6;
  color: snow;
}
.btn-xlarge-bold:hover{
  opacity: 0.85;
  color: snow;
  background-color: #b1ddf6;
}
.btn-xlarge {
    padding: 10px 32px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border-radius: 0px;
    border: 1px solid #085c07;
}
.btn-default-green{
  margin-top: 50px;
  background-color:  #84ae83;
  color: snow;
}
.btn-default-green:hover{
  opacity: 0.85;
  background-color:  #84ae83;
  color: snow;
}
.contacts{
  margin-top: 100px;
}
#contact{
  padding: 87px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#contact h1, #contact h2,#contact h3,#contact p{
  color: inherit;
}
.well{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: none;
}
.well legend {
  color: snow;
}
.form-control{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
}
.controls li{
  color: snow;
  list-style: none;
  text-align: left;
}
.btn-contact{
  margin: 3px;
  background-color: rgba(132, 174, 131, 0.75);;
  border: none;
}
.btn-contact:hover{
  background-color: #083c07;
  color: snow;
}
.btn-contact:active{
  background-color: #083c07;
}
#services-header{
  max-width: 600px;
  margin: 0 auto;
}
#services-left{
  max-width: 1200px;
  margin: 50px auto 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  min-height: 211px;
  text-align: right;
  color: snow;
}
#services-left h2, #services-left p{
  color: snow;
}
#services-left p{
  margin-left: 240px;
  text-align: left;
}
#services-left img{
  border: 4px solid #84ae83;
  height: 175px;
  float: left;
}
#services-right{
  max-width: 1200px;
  margin: 50px auto 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  min-height: 211px;
  height: auto;
  text-align: left;
  color: snow;
}
#services-right h2, #services-right p{
  color: snow;
}
#services-right img{
  border: 4px solid #84ae83;
  height: 175px;
  float: right;
}
#products{
  margin: 75px 25px 0;
  background-color:
  padding: 25px;
}
#products h1, #products p{
  margin: 30px;
  color: black;
}
#products img{
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  max-width: 33.33%;
}
